/* html, body {
  margin: 0;
  padding: 0;
  background-color: "#FFF";
  font-family: 'Courier';
  font-size: 12pt;
  line-height: 10pt
}

canvas {
  display: block;
} */


html, body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Set background to black */
  color: #FFF; /* Set text color to white */
  font-family: 'Courier', monospace;
  font-size: 12pt;
  line-height: 10pt;
}

canvas {
  display: block;
}

body {
  white-space: pre;
  font-size: 7px;
  line-height: 7px;
}

